@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Poppins:wght@200&family=Rowdies:wght@300&family=Space+Mono&family=Syne+Tactile&display=swap');
);
/* CSS HEX */
--ebony: #4F564Fff;
--rich-black-fogra-39: #0D1314ff;
--pale-silver: #D0C7BAff;
--dark-jungle-green: #1D2827ff;
--charleston-green: #26302Fff;

body {
    background-color: var(--pale-silver);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    ;
}
#splash-image {
width: 100vw
}

#info {
    color: var()
}